[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
moto = "*"
responses = "*"
pytest-mock = "*"

[packages]
# STOP!!! Do not add dependencies here.
# Add all dependencies to setup.py so other packages
# can resolve them.
ew-common = {editable = true,path = "."}
zipcodes = "*"

[requires]
python_version = "3.7"

[scripts]
test="pytest"
